/* awful blanket reset; will sort soon */
* {
    margin:0;
    padding:0;
}

html {
    line-height:1.5em;
}

.container {
    margin:0 auto;
    padding:0 1em;
}

.text-input {
    width:100%;
}

/*
As per: csswizardry.com/2011/09/the-nav-abstraction
*/
.nav{
    margin-left:0;
}
.nav > li,
.nav > li > a{
    display:inline-block;
   *display:inline;
    zoom:1;
}
